/*Universal Styles*/
.bold {
  font-weight: bold;
}

/* Header Nav Bar */
body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin: 0;
}

img.logo {
  margin-left: 10px;
  margin-right: auto;
}

header {
  display: flex;
  height: 70px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  align-items: center;
  font-size: 30px;
  background-color: black;
  z-index: 4;
}

nav {
  margin-left: auto;
  justify-content: flex-end;
  padding-right: 18px;
}

nav span {
  padding: 15px;
}

nav a {
  color: seashell;
  text-decoration: underline;
}

/* Background and Banner Content */
.banner-content {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}


.text-content {
  background-color: black;
  width: 100%;
}

/* Tea of the Month */
.teaofmonth {
  display: block;
  text-align: center;
}

.teaofmonth-text {
  margin: 0 auto;
}

.tea {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  max-width: 950px;
  margin: auto;
}

.tea img {
  height: 200px;
  width: 300px;
}

/* Location Content */
.locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: row;
  opacity: 1;
  text-align: center;
  justify-content: center;
}

.location {
  width: 220px;
  height: 200px;
  background-color: black;
  padding: 40px;
  align-self: center;
  margin:auto 0 auto;
  margin-right: 40px;
}

/* Contact */
.contact {
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

/* Footer */
footer {
  text-align: left;
  padding-left: 20px;
}
