/* Header Nav Bar */
body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

img.logo {
  margin-left: 10px;
  margin-right: auto;
}

header {
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  align-items: center;
  font-size: 30px;
  background-color: black;
  z-index: 4;
}

nav {
  margin-left: auto;
  justify-content: flex-end;
  padding-right: 18px;
}

nav span {
  padding: 15px;
}

nav a {
  color: seashell;
}

/* Background and Banner Content */
.banner-content {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  flex-wrap: wrap;
}


.text-content {
  background-color: black;
  width: 100%;
}
